<div class="container-fluid nav-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-md-right text-sm-left">
            <a class="internal-link" href="http://joelriccilopez.com/" target="_blank"><b>Visit my website 😁</b></a>
        </div>
    </div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active internal-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a class="nav-item nav-link" href="/about.html">About</a>
      </div>
    </div>
  </nav> -->

<style>
    .nav-container {
      width: 100%;
      margin-bottom: 2em;
      border-bottom: solid #efefef;
      padding-bottom: 5px;
    }
  </style>
  