.lineno {
    margin-right: 1rem;
    border-right: 1px #960050;
    color: gray;
}

.highlight {
    background-color: #303030;
    color: #f8f8f2;
    // @extend %vertical-rhythm;
    .c                 { color: #75715e }                            /* Comment                     */
    .err               { color: #960050 }                            /* Error                       */
    .k                 { color: #91efc4 }                            /* Keyword                     */
    .l                 { color: #ae81ff }                            /* Literal                     */
    .n                 { color: #f8f8f2 }                            /* Name                        */
    .o                 { color: #dc7b6b }                            /* Operator                    */
    .p                 { color: #B08181 }                            /* Punctuation                 */
    .cm                { color: #75715e }                            /* Comment.Multiline           */
    .cp                { color: #75715e }                            /* Comment.Preproc             */
    .c1                { color: #6eadbd }                            /* Comment.Single              */
    .cs                { color: #75715e }                            /* Comment.Special             */
    .ge                { font-style: italic }                        /* Generic.Emph                */
    .gs                { font-weight: bold }                         /* Generic.Strong              */
    .kc                { color: #91E0EF }                            /* Keyword.Constant            */
    .kd                { color: #91E0EF }                            /* Keyword.Declaration         */
    .kn                { color: #f77979 }                            /* Keyword.Namespace           */
    .kp                { color: #91E0EF }                            /* Keyword.Pseudo              */
    .kr                { color: #91E0EF }                            /* Keyword.Reserved            */
    .kt                { color: #91E0EF }                            /* Keyword.Type                */
    .ld                { color: #e6db74 }                            /* Literal.Date                */
    .m                 { color: #ae81ff }                            /* Literal.Number              */
    .s                 { color: #FFD885 }                            /* Literal.String              */
    .na                { color: #a6e22e }                            /* Name.Attribute              */
    .nb                { color: #f8f8f2 }                            /* Name.Builtin                */
    .nc                { color: #a6e22e }                            /* Name.Class                  */
    .no                { color: #91E0EF }                            /* Name.Constant               */
    .nd                { color: #a6e22e }                            /* Name.Decorator              */
    .ni                { color: #f8f8f2 }                            /* Name.Entity                 */
    .ne                { color: #a6e22e }                            /* Name.Exception              */
    .nf                { color: #ff8292 }                            /* Name.Function               */
    .nl                { color: #f8f8f2 }                            /* Name.Label                  */
    .nn                { color: #f8f8f2 }                            /* Name.Namespace              */
    .nx                { color: #a6e22e }                            /* Name.Other                  */
    .py                { color: #f8f8f2 }                            /* Name.Property               */
    .nt                { color: #ffa275 }                            /* Name.Tag                    */
    .nv                { color: #f8f8f2 }                            /* Name.Variable               */
    .ow                { color: #ffa275 }                            /* Operator.Word               */
    .w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
    .mf                { color: #76FDD5 }                            /* Literal.Number.Float        */
    .mh                { color: #76FDD5 }                            /* Literal.Number.Hex          */
    .mi                { color: #76FDD5 }                            /* Literal.Number.Integer      */
    .mo                { color: #76FDD5 }                            /* Literal.Number.Oct          */
    .sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
    .sc                { color: #e6db74 }                            /* Literal.String.Char         */
    .sd                { color: #e6db74 }                            /* Literal.String.Doc          */
    .s2                { color: #e6db74 }                            /* Literal.String.Double       */
    .se                { color: #ae81ff }                            /* Literal.String.Escape       */
    .sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
    .si                { color: #e6db74 }                            /* Literal.String.Interpol     */
    .sx                { color: #e6db74 }                            /* Literal.String.Other        */
    .sr                { color: #e6db74 }                            /* Literal.String.Regex        */
    .s1                { color: #e6db74 }                            /* Literal.String.Single       */
    .ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
    .bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
    .vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
    .vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
    .vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
    .il                { color: #ae81ff }                            /* Literal.Number.Integer.Long */
}