// Font families
$font-times: "Times New Roman", sans-serif;

$font-roboto: "Roboto", sans-serif;

$font-firaCode: 'Fira Code', monospace;

$font-jetBrains: 'JetBrains Mono', monospace;
$font-notoSans: 'Noto Sans', monospace;